# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/reports
/.nyc_output
/test/browser/screenshots
/test/browser/videos

# built files
/build
/lib
/dist
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dot env files
.env.local
.env.*.local
*.env

# misc
.vscode
.DS_Store
