# npm version commit message
message = "release: v%s"

# use legacy behavior for peer-deps (don't fail on mismatches)
# this is necessary until cypress-react-unit-test upgrades their
# webpack peer dependency (currently on 3)
legacy-peer-deps = true